name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test-generator:
    name: Test
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.x] 

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3 

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Node.js dependencies globally
        run: |
          npm install

      - name: test-generator
        run: npm run test
        continue-on-error: true